@tailwind base;
@tailwind components;
@tailwind utilities;

.selectdiv {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 0.25rem;
    /*Don't really need this just for demo styling*/
}
  
.selectdiv:after {
    content: '\f078';
    font: normal normal normal 14px/1 FontAwesome;
    color: #B2B9C0;
    right: 12px;
    display: block;
    position: absolute;
    pointer-events: none;
}
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
    display: none;
  }

  .selectdiv select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    padding: 0.75rem;
    display: block;
    width: 100%;
    background-image: none;
    background-color: #F3F4F6;
    -ms-word-break: normal;
    word-break: normal;
  }

  select:focus {
    border: none;
  }
